body{
    padding:0;
	margin:0;
}
#title big{
	font-size: 135px;
	color: white;
	font-variant: small-caps;
	font-weight: bold;
	vertical-align: -250px;
	font-family: 'Russo One', sans-serif;
}
header{
	width: 100%;
	height: 650px;
	background: url(img/lo.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}
#movies{
    text-align:center;
	vertical-align:-350px;
	color:orange;
	font-family: 'Patua One', cursive;
	font-size:50px;
}
#list-of{
    font-size: 65px;
    font-family: 'Faster One', cursive;
    margin: 0;
    padding: 0;
    text-indent: 30px;
}
#arrow{
	vertical-align:-400px;
	font-size:50px;
}
.fmm{
	width: 100px;
	height: 100px;
}
#fm{
	margin-left: 25px;
}
#fm2{
	margin-left: 100px;
}
#fm3{
	margin-left: 100px;
}
#fm4{
	margin-left: 128px;
}
#fm5{
	margin-left: 100px;
}
.fm45{
	margin-top: 30px;
}
section{
    width: 100%;
    height: 100%;
	background: url(img/b-fon.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}
.downbutt:link {
	text-decoration: none;
}
.lolelo{
	border: 2px solid red;
        margin: 0px;
	padding: 0px;
	margin-top: 20px;
	width: 140px;
	height: 40px;
	border-radius: 10px;
	color: white;
	background-color: red;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 25px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.lo{
	margin-left: 50px;
}
.lolelo:hover {
    background-color: rgb(220, 0, 0);
    color: white;
	cursor: pointer;
}
.butts{
	margin-left: 30px;
}
#super-title{
	position: absolute;
	font-size: 30px;
	margin: 0px;
	margin-top: 15px;
	text-indent: 17.5%;
	text-decoration: underline;
	float: left;
	font-family: 'Pangolin', cursive;
}
#article{
	width: 330px;
	height: 305px;
	float: left;
	overflow: scroll;
	text-align: center;
	margin-left: 17%;
	margin-top: 60px;
}

@media only screen and (max-device-width : 600px) {

    header{
	width: 100%;
	height: 200px;
	background: url(img/lo.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

    .lolelo{
	border: 2px solid red;
        margin: 0px;
	padding: 0px;
	margin-top: 20px;
	width: 140px;
	height: 40px;
	border-radius: 10px;
	color: white;
	background-color: blue;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 25px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
	
	#title big{
	font-size: 50px;
	color: white;
	font-variant: small-caps;
	font-weight: bold;
	vertical-align: -50px;
	font-family: 'Russo One', sans-serif;
	
}

	#movies{
        text-align:center;
	vertical-align:-80px;
	color:orange;
	font-family: 'Patua One', cursive;
	font-size:30px;
	
}
	
	#arrow{
	vertical-align:-90px;
	width: 10px;
	height: 10px;
	
}
	
	#super-title{
	position: absolute;
	font-size: 25px;
	margin: 0px;
	margin-top: 15px;
	text-align: center;
	text-decoration: underline;
	float: left;
	font-family: 'Pangolin', cursive;
}

	#article{
	width: 330px;
	height: 100px;
	float: left;
	overflow: scroll;
	text-align: center;
	margin-top: 60px;
}
}
