body{
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
}
.cover{
	max-width: 100%;
	height: 650px;
	background: url(img/lo.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}
.title{
	font-size: 135px;
	color: white;
	font-variant: small-caps;
	font-weight: bold;
	font-family: 'Russo One', sans-serif;
	margin-top: 60px;

}
.cover img{
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.movies{
	margin-top: 15px;
	color:orange;
	font-family: 'Patua One', cursive;
	font-size:50px;
}
section{
	background-image: url(img/b-fon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; 
}
.sp{
	font-size: 30px;
	margin-top: 15px;
	text-align: right;
	text-decoration: underline;
	font-family: 'Pangolin', cursive;
	margin-right: 20px;
}
.article{
	text-align: center;
	width: 350px;
	height: 305px;
	overflow: scroll;
	float: right;
}
.lolelo{
	border: 2px solid red;
	margin-top: 20px;
	width: 140px;
	height: 40px;
	border-radius: 10px;
	color: white;
	background-color: red;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 25px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.lo{
	margin-left: 50px;
}
.lolelo:hover {
    background-color: #B70B0B;
    color: white;
	cursor: pointer;
}
.fmm{
	width: 100px;
	height: 100px;
}
#fm{
	margin-left: 10px;
}
#fm2{
	margin-left: 100px;
}
#fm3{
	margin-left: 100px;
}
#fm4{
	margin-left: 113px;
}
#fm5{
	margin-left: 100px;
}
.fm45{
	margin-top: 30px;
}
#list-of{
    font-size: 65px;
    font-family: 'Faster One', cursive;
    margin: 0;
    padding: 0;
    text-indent: 10px;
}
.downbutt:link {
	text-decoration: none;
}
.all{
	width: 75%;
	height: 100%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}


/*---------------------------------Адаптация-------------------------------------*/

@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
	.title{
	margin: 0px;
	padding: 0px;
	font-size: 50px;
	color: white;
	font-variant: small-caps;
	font-weight: bold;
	font-family: 'Russo One', sans-serif;
	margin-top: 10px;

}
.cover{
	max-width: 100%;
	height: 200px;
	background: url(img/lo.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}
.movies{
	margin: 0px;
	padding: 0px;
	color:orange;
	font-family: 'Patua One', cursive;
	font-size: 30px;
}
.cover img{
	margin: 0px;
	padding: 0px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
}
.sp{
	margin-right: 0px;
	font-size: 27px;
	margin-top: 15px;
	text-align: center;
	text-decoration: underline;
	font-family: 'Pangolin', cursive;
}
.article{
	width: 300px;
	height: 305px;
	overflow: scroll;
	float: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.lolelo{
	border: 2px solid red;
	margin-top: 20px;
	width: 95px;
	height: 40px;
	border-radius: 10px;
	color: white;
	background-color: red;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 16px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.lo{
	margin-left: 10px;
}
#list-of{
    font-size: 36px;
    font-family: 'Faster One', cursive;
    margin: 0;
    padding: 0;
}
.fmm{
	width: 60px;
	height: 60px;
}
#fm2{
	margin-left: 50px;
}
#fm3{
	margin-left: 50px;
}
#fm4{
	margin-left: 0px;
}
#fm5{
	margin-left: 50px;
}
.fm45{
	margin-top: 30px;
}
.ad-al{
	text-align: center;
}
.all{
	width: 90%;
	height: 100%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}
}