body{
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
}
.cover{
	width: 100%;
	background: url(img/lo.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.title{
	font-size: 135px;
	color: white;
	font-variant: small-caps;
	font-weight: bold;
	font-family: 'Russo One', sans-serif;
	margin-top: 60px;

}
.cover img{
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.movies{
	margin-top: 15px;
	color:orange;
	font-family: 'Patua One', cursive;
	font-size:50px;
}
section{
	background-image: url(img/b-fon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; 
}
.sp{
	font-size: 30px;
	margin-top: 15px;
	text-align: right;
	text-decoration: underline;
	font-family: 'Pangolin', cursive;
	margin-right: 20px;
}
.article{
	text-align: center;
	width: 350px;
	height: 305px;
	overflow: scroll;
	float: right;
}
.lolelo{
	position: absolute;
	border: 2px solid red;
	padding: 5px;
	border-radius: 10px;
	color: white;
	background-color: red;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 25px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	overflow: hidden;
}
.lo1{
	margin-left: 15px;
}
.lo2{
	padding-right: 25px;
	padding-left: 25px;
	margin-left: 190px;
}
.lo3{
	padding-right: 48px;
	padding-left: 48px;
	margin-left: 375px;
}
.loo{
	margin-top: 20px;
}
.lolelo:link{
	text-decoration: none;
}
.lolelo:hover {
    background-color: #B70B0B;
    border: 2px solid #B70B0B;
    color: white;
	cursor: pointer;
}
.lo1:before{
	content: '';
	position: absolute;
	top: -10px;
	left: -40px;
	height:  60px;
	width: 50px;
	background: white;
	transform: skewX(-45deg);
	opacity: 0;
}
.lo1:hover::before{
	left: 155px;
	transition: 0.5s ease-in-out;
	opacity: 1;
}
.lo1:active{
	border: 2px solid #FF4646;
}
.lo2:before{
	content: '';
	position: absolute;
	top: -10px;
	left: -60px;
	height:  60px;
	width: 50px;
	background: white;
	transform: skewX(-45deg);
	opacity: 0;
}
.lo2:hover::before{
	left: 160px;
	transition: 0.5s ease-in-out;
	opacity: 1;
}
.lo2:active{
	border: 2px solid #FF4646;
}
.lo3:before{
	content: '';
	position: absolute;
	top: -10px;
	left: -60px;
	height:  60px;
	width: 50px;
	background: white;
	transform: skewX(-45deg);
	opacity: 0;
}
.lo3:hover::before{
	left: 160px;
	transition: 0.5s ease-in-out;
	opacity: 1;
}
.lo3:active{
	border: 2px solid #FF4646;
}
.fmm{
	width: 100px;
	height: 100px;
}
#fm{
	margin-left: 10px;
}
#fm2{
	margin-left: 100px;
}
#fm3{
	margin-left: 100px;
}
#fm4{
	margin-left: 113px;
}
#fm5{
	margin-left: 100px;
}
.fm45{
	margin-top: 30px;
}
#list-of{
    font-size: 65px;
    font-family: 'Faster One', cursive;
    margin: 0;
    padding: 0;
    text-indent: 10px;
    margin-top: 35px;
}
.downbutt:link {
	text-decoration: none;
}
.all{
	width: 75%;
	height: 100%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}


/*---------------------------------Адаптация-------------------------------------*/

@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
	.title{
	margin: 0px;
	padding: 0px;
	font-size: 50px;
	color: white;
	font-variant: small-caps;
	font-weight: bold;
	font-family: 'Russo One', sans-serif;
	margin-top: 10px;

}
.cover{
	max-width: 100%;
	background: url(img/lo.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}
.movies{
	margin: 0px;
	padding: 0px;
	color:orange;
	font-family: 'Patua One', cursive;
	font-size: 30px;
}
.cover img{
	margin: 0px;
	padding: 0px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}
.sp{
	margin-right: 0px;
	font-size: 27px;
	margin-top: 15px;
	text-align: center;
	text-decoration: underline;
	font-family: 'Pangolin', cursive;
}
.article{
	width: 300px;
	height: 305px;
	overflow: scroll;
	float: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.lolelo{
	position: absolute;
	border: 2px solid red;
	padding: 5px;
	border-radius: 10px;
	color: white;
	background-color: red;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 15px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	overflow: hidden;
	left: 9.6%;
	top: -25px;

}
.lo1{
	margin-left: 0;
}
.lo2{
	padding-right: 15px;
	padding-left: 15px;
	margin-left: 100px;
}
.lo3{
	padding-right: 30px;
	padding-left: 30px;
	margin-left: 200px;
}
.loo{
	margin-top: 20px;
}
.lolelo:link{
	text-decoration: none;
}
.lolelo:hover {
    background-color: #B70B0B;
    border: 2px solid #B70B0B;
    color: white;
	cursor: pointer;
}
.lo1:before{
	content: '';
	position: absolute;
	top: -10px;
	left: -40px;
	height:  60px;
	width: 50px;
	background: white;
	transform: skewX(-45deg);
	opacity: 0;
}
.lo1:hover::before{
	left: 155px;
	transition: 0.5s ease-in-out;
	opacity: 1;
}
.lo1:active{
	border: 2px solid #FF4646;
}
.lo2:before{
	content: '';
	position: absolute;
	top: -10px;
	left: -60px;
	height:  60px;
	width: 50px;
	background: white;
	transform: skewX(-45deg);
	opacity: 0;
}
.lo2:hover::before{
	left: 155px;
	transition: 0.5s ease-in-out;
	opacity: 1;
}
.lo2:active{
	border: 2px solid #FF4646;
}
.lo3:before{
	content: '';
	position: absolute;
	top: -10px;
	left: -60px;
	height:  60px;
	width: 50px;
	background: white;
	transform: skewX(-45deg);
	opacity: 0;
}
.lo3:hover::before{
	left: 155px;
	transition: 0.5s ease-in-out;
	opacity: 1;
}
.lo3:active{
	border: 2px solid #FF4646;
}
#list-of{
    font-size: 36px;
    font-family: 'Faster One', cursive;
    margin: 0;
    padding: 0;
}
.fmm{
	width: 60px;
	height: 60px;
}
#fm2{
	margin-left: 50px;
}
#fm3{
	margin-left: 50px;
}
#fm4{
	margin-left: 0px;
}
#fm5{
	margin-left: 50px;
}
.fm45{
	margin-top: 30px;
}
.ad-al{
	text-align: center;
}
.all{
	width: 325px;
	height: 100%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}
}