* {
	overflow-x: hidden;
}
header .img {
	text-align: center;
	margin-top: 30px;
	margin-right: 65%;
	margin-bottom: -80px;
	padding-right: 100px;
}
header .container .row .navbar .container .collapse ul li a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	color: #21409a;
	padding-bottom: 20px;
}
header .container .row .navbar .container .collapse ul {
	float: right;
	margin-right: 60px;
}
header .container .row .navbar-default {
	background: transparent;
	box-shadow: none;
	border: none;
	margin: 0;
	padding-top: 40px;
	margin-left: 3%;
}
header .container .row .navbar .container .collapse ul li a:hover {
	color: #21409a;
	background-color: #cdeaf8;
}
header .container .row .navbar .container .navbar-header button {
	margin-bottom: 15px;
	margin-right: 70px;
}
header .lng ul li {
	list-style: none;
	display: inline-block;
}
header .lng ul li a {
	font-size: 15px;
	font-weight: bold;
	color: #21409a;
}
header .lng {
	float: right;
	margin-top: -41px;
	margin-right: 10px;
}
#cover-img {
	background-image: url('cover.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 450px;
}
#fly-title {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 110px;
	margin-top: 15px;
	text-indent: 10px;
}
#flytext {
	margin: 0;
	padding: 0;
	font-size: 27px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	margin-top: 75px;
	color: #23409c;
	margin-left: 465px;
}
#flytext2 {
	float: left;
	font-size: 27px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	margin-top: 80px;
	color: #23409c;
	margin-left: 15px;
}
.magazine {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.magazine img {
	border: 1px solid grey;
	width: 100%;
}
.magazine p {
	margin: 0;
	color: #23409c;
	font-size: 15px;
	margin-top: 10px;
}


@media screen and (max-width: 991px) {
	#flytext {
	margin: 0;
	padding: 0;
	font-size: 27px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	color: #23409c;
	margin-top: 140px;
	margin-left: 15px;
}
#flytext2 {
	float: left;
	font-size: 25px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	margin-top: 120px;
	color: #23409c;
}
}

@media screen and (max-width: 564px) {
	#fly-title {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 80px;
}
	#flytext {
	margin: 0;
	padding: 0;
	font-size: 27px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	color: #23409c;
	margin-top: 100px;
	margin-left: 15px;
}
#flytext2 {
	float: left;
	font-size: 25px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	margin-top: 120px;
	color: #23409c;
}
}

@media screen and (max-width: 394px) {
	#fly-title {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
}
	#flytext {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	color: #23409c;
	margin-top: 70px;
	text-align: center;
}
#flytext2 {
	float: left;
	font-size: 20px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	margin-top: 150px;
	color: #23409c;
	text-align: center;
}
}