* {
	overflow-x: hidden;
}
header .img {
	text-align: center;
	margin-top: 30px;
	margin-right: 75%;
	margin-bottom: -80px;
	padding-right: 100px;
}
header .row .navbar .container .collapse ul li a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	color: #21409a;
	padding-bottom: 20px;
	padding-top: 80px;
	margin-top: -20px;
}
header .row .navbar .container .collapse ul {
	float: right;
}
header .row .navbar-default {
	background: transparent;
	box-shadow: none;
	margin: 0;
	border: none;
	margin-left: -150px;
	margin-right: 80px;
}
header .row {
	padding-right: 0;
}
header .row .navbar .container .collapse ul li a:hover {
	color: #21409a;
	background-color: #cdeaf8;
}
header .limba ul li a {
	font-size: 15px;
	font-weight: bold;
	color: #21409a;
}
header .limba ul li {
	display: inline-block;
}
header .limba {
	float: right;
	margin-top: -42px;
}
header .row .navbar .container .navbar-header button {
	margin-top: 40px;
	margin-bottom: 20px;
	margin-right: 0;
}
#cover-img {
	background-image: url('cover.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 450px;
}
#fly-title {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 110px;
	margin-top: 15px;
	text-indent: 10px;
}
#flytext {
	margin: 0;
	padding: 0;
	font-size: 27px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	margin-top: 65px;
	color: #23409c;
	margin-left: 465px;
}
#flytext2 {
	float: left;
	font-size: 27px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	margin-top: 80px;
	color: #23409c;
	margin-left: 15px;
}
.magazine {
	justify-content: center;
	margin-top: 20px;
}
.magazine img {
	border: 1px solid grey;
	width: 100%;
}
.magazine p {
	margin: 0;
	color: #23409c;
	font-size: 15px;
	margin-top: 10px;
}
.last {
	background-image: url('last.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 203px;
	margin-top: 200px;
	margin-bottom: 200px;
}
#img img {
	width: 150px;
	height: 75px;
}
.prefooter-align {
	padding-bottom: 30px;
}
#intrebari {
	margin-top: 20px;
}
#intrebari p {
	text-align: center;
	font-size: 15px;
}
#noutati img {
	width: 40px;
	height: 40px;
}
#noutati p {
	font-size: 15px;
}
footer {
	background: #4bb6ea;
	width: 100%;
	height: 185px;
}
#foot1 {
	float: left;
	margin-left: 8%;
	margin-top: 20px;
	padding-right: 30px;
}
.foot p {
	font-size: 12px;
}
.foot p a {
	color: white;
}
#foot2 {
	float: right;
	margin-top: 20px;
	margin-right: 5%;
}


@media screen and (min-width: 1550px) {
	.last {
	background-image: url('last.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 253px;
	margin-top: 200px;
	margin-bottom: 200px;
}
}

@media screen and (max-width: 1300px) {
	.last {
	background-image: url('last.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 160px;
	margin-top: 200px;
	margin-bottom: 200px;
}
}

@media screen and (max-width: 1050px) {
	.last {
	background-image: url('last.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 130px;
	margin-top: 200px;
	margin-bottom: 200px;
}
}

@media screen and (max-width: 991px) {
	#flytext {
	margin: 0;
	padding: 0;
	font-size: 27px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	color: #23409c;
	margin-top: 140px;
	margin-left: 10px;
}
#flytext2 {
	float: left;
	font-size: 25px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	margin-top: 120px;
	color: #23409c;
}
#cover-img {
	background-image: url('cover.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 350px;
}
}

@media screen and (max-width: 850px) {
		.last {
	background-image: url('last.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 115px;
	margin-top: 150px;
	margin-bottom: 150px;
}
}

@media screen and (max-width: 767px) {
header .row .navbar .container .collapse ul li a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	color: #21409a;
	padding-bottom: 20px;
	padding-top: 40px;
	margin-top: -20px;
	padding-right: 100%;
}
header .row .navbar .container .collapse ul {
	float: left;
	margin-right: 0px;
}
header .row .navbar-default {
	background: transparent;
	box-shadow: none;
	margin: 0;
	border: none;
	margin-left: 0;
	margin-right: 80px;
}
header .limba {
	float: right;
	margin-top: -45px;
}
.magazine div {
	margin-top: 30px;
}
.magazine .m1 {
	margin-top: 0;
}
}

@media screen and (max-width: 750px) {
		.last {
	background-image: url('last.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 90px;
	margin-top: 150px;
	margin-bottom: 150px;
}
}

@media screen and (max-width: 650px) {
	#foot1 {
	float: none;
	margin-left: 0;
	margin-top: 20px;
	padding-right: 0;
}
#foot2 {
	float: none;
	margin-top: 20px;
	margin-right: 0;
}
}

@media screen and (max-width: 600px) {
		.last {
	background-image: url('last.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 80px;
	margin-top: 150px;
	margin-bottom: 150px;
}
}

@media screen and (max-width: 564px) {
	#fly-title {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 80px;
}
	#flytext {
	margin: 0;
	padding: 0;
	font-size: 27px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	color: #23409c;
	margin-top: 100px;
	margin-left: 10px;
}
#flytext2 {
	float: left;
	font-size: 25px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	margin-top: 120px;
	color: #23409c;
}
#cover-img {
	background-image: url('cover.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 250px;
}
	.last {
	background-image: url('last.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 70px;
	margin-top: 150px;
	margin-bottom: 150px;
}
}

@media screen and (max-width: 465px) {
		.last {
	background-image: url('last.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 60px;
	margin-top: 150px;
	margin-bottom: 150px;
}
}

@media screen and (max-width: 394px) {
	#fly-title {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
}
	#flytext {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	color: #23409c;
	margin-top: 70px;
	text-align: center;
	margin-left: 10px;
}
#flytext2 {
	float: left;
	font-size: 20px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	margin-top: 150px;
	color: #23409c;
	text-align: center;
}
#cover-img {
	background-image: url('cover.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 150px;
}
	.last {
	background-image: url('last.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 50px;
	margin-top: 100px;
	margin-bottom: 100px;
}
}

@media screen and (max-width: 365px) {
		.last {
	background-image: url('last.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 45px;
	margin-top: 70px;
	margin-bottom: 70px;
}
}