header {
	background-image: url('../img/header-img.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}
/*--------------Navbar---------------*/
header .navbar .container .navbar-collapse ul li a {
	font-size: 20px;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	font-family: 'Cuprum', sans-serif;
	transition: 0.2s;
}
header .navbar .container .navbar-collapse ul li a:hover {
	color: red;
	transition: 0.2s;
}
header .navbar .container .navbar-collapse ul li {
	float: none;
	display: inline-block;
}
header .navbar .container .navbar-collapse ul {
	float: none;
	text-align: center;
}
header .navbar-default {
	background: #E5E5E5;
	border: none;
	box-shadow: none;
	padding-top: 20px;
	border-radius: 0;
	padding-bottom: 20px;
}
header .navbar-default .container .limba {
	font-size: 20px;
	float: right;
	font-weight: bold;
	margin-top: -42px;
	color: black;
	text-decoration: none;
	transition: 0.2s;
	padding: 5px;
	font-family: 'Cuprum', sans-serif;
}
header .navbar-default .container .limba:hover {
	color: red;
	transition: 0.2s;
}
/*--------------Navbar---------------*/
header .container .logo  {
	width: 300px;
}
header .container .name {
	margin-top: 35px;
	box-shadow: 0px 0px 20px white;
	border-radius: 25px;
	margin-left: 0;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.post-content {
	box-shadow: 0px 0px 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	background: white;
}
.post-content .title {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Cuprum', sans-serif;
  margin-top: 30px;
}
.post-content .title-line {
  border: 2px solid #2961C1;
  width: 60px;
  float: left;
  margin-top: 5px;
}
.post-content .text {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
}
.post-content .text2 {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  text-align: left;
  margin-right: 20px;
}
.post-content .text3 {
  text-align: right;
  color: white;
  margin-top: 100px;
}
.post-content .first-img {
	width: 230px;
	margin-top: 20px;
}
.post-content .first-img2 {
	width: 250px;
}
.post-content .effect {
	width: 100%;
}

footer {
	height: 200px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    position: relative;
}
footer .container .social {
	font-size: 50px;
	text-align: center;
	color: white;
	font-family: 'Shrikhand', cursive;
	margin-top: 10px;
	text-shadow: 2px 2px 2px black;
}
footer .social-line {
	width: 40%;
}
footer .container a img {
	width: 50px;
	margin: 0;
	transition: 0.5s;
	background: white;
	border-radius: 30px;
	padding: 5px;
}
footer .container a img:hover {
	transition: 0.5s;
	transform: rotate(360deg);
}
footer .container .copyright {
	color: white;
	margin: 0;
	margin-top: -5px;
}
footer .container .copyright a {
	color: white;
	text-decoration: underline;
}
/*---------------------------------Адаптация-------------------------------------*/

@media screen and (max-width: 767px) {
	.post-content .navbar-default {
		padding-top: 0;
	}
	footer .social-line {
	    width: 70%;
    }
    header .navbar .container .navbar-collapse ul li {
    	display: block;
    }
    header .navbar-default {
	    padding: 0;
    }
    header .navbar-default .container .limba {
    	position: absolute;
    }
    .post-content .first-img {
    	float: none;
    	margin-right: auto;
    	margin-left: auto;
    	display: block;
    	margin-top: 15px;
    }
    .post-content .title {
        text-align: center;
        margin-top: 0;
}
    .post-content .title-line {
        float: none;
        margin-bottom: -10px;
}
    .post-content .text {
        float: none;
        text-align: center;
        margin-right: 20px;
        margin-left: 20px;
}
.post-content .text3 {
	margin-top: 30px;
}
}
@media screen and (max-width: 733px) {
	header .container .name {
	    margin-bottom: 50px;
    }
}
@media screen and (max-width: 500px) {
	header .container .logo {
		width: 250px;
	}
	header .container .name {
	    width: 350px;
    }
}
@media screen and (max-width: 425px) {
	header .container .logo {
		width: 230px;
		padding-bottom: 20px;
	}
	header .container .name {
	    width: 330px;
	    border-radius: 15px;
	    margin-top: 0;
    }
}
@media screen and (max-width: 375px) {
	header .container .logo {
		width: 185px;
		padding-bottom: 20px;
	}
	header .container .name {
	    width: 285px;
    }
}