@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


$desktopSiteColor: #15131B;
$desktopSiteColor2: #23202C;
$mobileMenuColor: #282532;
$mobileSiteColor: #6A6282;
$textColor: white;
$fontFamily1: 'Roboto Condensed', sans-serif;
$fontFamily2: 'Open Sans', sans-serif;
$fontFamily3: 'Poppins', sans-serif;
$frequentlyUsedColor: #259AE8;