@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Carme&display=swap");

@font-face {
    font-family: cafe-francoise;
    src: url("../fonts/cafe-francoise.otf");
}

@font-face {
    font-family: chalkboy;
    src: url("../fonts/chalkboy.otf");
}

* {
    // border: 1px solid red;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/bg.webp");
    background-repeat: no-repeat;
    background-size: cover;

    .row {
        height: 100vh;
    }

    .global-border {
        position: absolute;
        margin: 3.84vh 1.98vw 3.84vh 1.98vw;
        width: calc(100vw - 3.96vw);
        height: calc(100vh - 7.68vh);
        user-select: none;
    }

    .container-fluid {
        position: relative;
        z-index: 1;
    }

    .back {
        color: white;
        font-family: "chalkboy", sans-serif;
        font-size: 5.76vh;
        width: 42.72vh;
        height: 6.08vh;
        background-image: url("../img/back.svg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 12.5vh;
        margin-left: 6.076134699853587vw;
        z-index: 1;

        &:hover {
            color: white;
        }
    }

    .img1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 8vh;
        height: 14vh;
    }

    .address {
        margin-left: auto;
        margin-top: 11.5vh;
        margin-right: 7.3vw;
        font-family: "Helvetica", "Arial", sans-serif;
        height: 9.6vh;
        z-index: 1;

        p {
            color: white;
            float: left;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin-right: 14px;
            font-size: 2.24vh;
        }

        img {
            height: 9.6vh;
        }
    }

    .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .position {
            display: flex;
            justify-content: center;
            align-items: center;

            .mainImg {
                width: 40vw;
                height: 56vh;
                margin-right: 3.1478770131771596vw;
                margin-top: 11vh;
                float: left;

                .mainImgBorder {
                    position: absolute;
                    z-index: 1;
                    width: 40vw;
                    height: 56vh;
                }

                .img2 {
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 38.5vw;
                    height: 52.4vh;
                }
            }

            .text {
                float: left;
                margin-top: 90px;

                h1 {
                    font-family: "chalkboy", sans-serif;
                    font-size: 5.76vh;
                    color: $siteMainColor;
                }

                .first {
                    font-family: "Helvetica", "Arial", sans-serif;
                    opacity: 0.7;
                    font-style: italic;
                    font-size: 1.92vh;
                    color: white;
                    line-height: 2.208vh;
                }

                .second {
                    font-family: "Helvetica", "Arial", sans-serif;
                    font-size: 2.24vh;
                    color: white;
                    line-height: 2.5760000000000005vh;
                }

                .butt {
                    color: white;
                    font-family: "cafe-francoise", sans-serif;
                    font-size: 1.92vh;
                    border: none;
                    background: transparent;
                    margin-top: 5px;
                    margin-left: 3px;
                    outline: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .butt1 {
                    background-image: url("../img/button1.svg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 33.44vh;
                    height: 6.08vh;
                }

                .butt2 {
                    background-image: url("../img/button2.svg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 33.12vh;
                    height: 6.56vh;
                    margin-left: 0.7320644216691069vw;
                }
            }
        }

        .arrow {
            display: flex;
            justify-content: center;

            p {
                position: absolute;
                font-family: "cafe-francoise", sans-serif;
                font-size: 1.92vh;
                margin-top: 2vh;
                color: #ced0d1;
            }

            .arr1 {
                transform: scaleX(-1);
                margin-right: 0.21961932650073207vw;
                height: 4.16vh;
            }

            .arr2 {
                margin-left: 0.21961932650073207vw;
                height: 4.16vh;
            }

            a {
                margin-top: 4.5vh;
                opacity: 0.4;
                transition: 0.3s;

                &:hover {
                    opacity: 1;
                    transition: 0.3s;
                }
            }

            .dot {
                height: 1.3vh;
                margin-top: 5.9vh;
            }
        }
    }

    .popup {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        z-index: 2;

        .content-popup {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 121.44vh;
            height: 76.48vh;
            background-image: url("../img/popup.svg");
            background-repeat: no-repeat;
            background-size: cover;

            h1 {
                color: white;
                font-family: "chalkboy", sans-serif;
                font-size: 7.68vh;
                text-align: center;
                margin-top: 8.16vh;
            }

            a {
                position: absolute;
                top: 8.8vh;
                right: 4.026354319180088vw;
                transition: 0.3s;

                img {
                    width: 2.562225475841874vw;
                    height: 5.6vh;
                }

                &:hover {
                    transition: 0.3s;
                    transform: scale(1.1);
                }
            }

            .input1,
            .input5 {
                margin-left: auto;
                margin-right: auto;
                display: block;
            }

            .input2-3-4 {
                display: flex;
                justify-content: center;
            }

            input,
            .input5 {
                height: 5.12vh;
                background: transparent;
                border: 1px solid white;
                border-radius: 4px;
                outline: none;
                color: white;
                padding-left: 1.0980966325036603vw;

                &::placeholder {
                    font-family: "Carme", sans-serif;
                    font-size: 1.92vh;
                    color: white;
                    opacity: 0.7;
                }
            }

            .input1 {
                width: 46.70571010248902vw;
                margin-top: 7.2vh;
            }

            .input2,
            .input3,
            .input4 {
                width: 15.080527086383603vw;
                margin: 0 0.36603221083455345vw 0 0.36603221083455345vw;
                margin-top: 1.6vh;
            }

            .input5 {
                margin-top: 1.6vh;
                width: 46.70571010248902vw;
                height: 13.6vh;
                resize: none;
            }

            .btn-popup {
                color: $siteMainColor;
                font-family: "cafe-francoise", sans-serif;
                font-size: 2.24vh;
                border: none;
                background: transparent;
                outline: none;
                background-image: url("../img/btn-popup.svg");
                background-repeat: no-repeat;
                background-size: cover;
                width: 41.52vh;
                height: 8.08vh;
                float: right;
                margin-top: 8.48vh;
                margin-right: 8.72vh;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
}

@media screen and (max-width: 991px) and (orientation: landscape) {
}
