@import "mixins.scss";
@import "variables.scss";

@font-face {
    font-family: cafe-francoise;
    src: url("../fonts/cafe-francoise.otf");
}

@font-face {
    font-family: chalkboy;
    src: url("../fonts/chalkboy.otf");
}

* {
    // border: 1px solid red;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/bg.webp");
    background-repeat: no-repeat;
    background-size: cover;

    .row {
        height: 100vh;
    }

    .global-border {
        position: absolute;
        margin: 30px;
        width: calc(100vw - 60px);
        height: calc(100vh - 60px);
        user-select: none;
    }

    .container-fluid {
        position: relative;
        z-index: 1;
    }

    .back {
        color: white;
        font-family: "chalkboy", sans-serif;
        font-size: 36px;
        width: 267px;
        height: 38px;
        background-image: url("../img/back.svg");
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 12.5vh;
        margin-left: 6.076134699853587vw;
        z-index: 1;

        &:hover {
            color: white;
        }
    }

    .img1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 6vh;
        width: 6.5vw;
        max-width: 113px;
        height: 16vh;
        max-height: 113px;
    }

    .cart {
        margin-left: auto;
        margin-top: 11.5vh;
        margin-right: 7.3vw;
        font-family: "cafe-francoise", sans-serif;
        height: 60px;
        z-index: 1;

        p {
            color: white;
            float: left;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin-right: 14px;
            font-size: 14px;
            opacity: 0.4;
        }

        a {
            img {
                transition: 0.3s;
            }

            span {
                color: $siteMainColor;
                position: absolute;
                margin-top: 40px;
                margin-left: -15.5px;
                font-size: 14px;
                transition: 0.3s;
            }

            &:hover {
                img {
                    transform: scale(1.1);
                    transition: 0.3s;
                }

                span {
                    margin-top: 41.5px;
                    margin-left: -13.5px;
                    transition: 0.3s;
                }
            }
        }
    }

    .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .position {
            display: flex;
            justify-content: center;
            align-items: center;

            .mainImg {
                width: 42vw;
                max-width: 581px;
                height: 58vh;
                max-height: 366px;
                margin-right: 43px;
                margin-top: 11vh;
                float: left;

                .mainImgBorder {
                    position: absolute;
                    z-index: 1;
                    width: 42vw;
                    max-width: 581px;
                    height: 58vh;
                    max-height: 366px;
                }

                .img2 {
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 40.5vw;
                    max-width: 559px;
                    height: 54.4vh;
                    max-height: 343px;
                }
            }

            .text {
                float: left;
                margin-top: 90px;

                h1 {
                    font-family: "chalkboy", sans-serif;
                    font-size: 36px;
                    color: $siteMainColor;
                }

                .first {
                    font-family: "Helvetica", "Arial", sans-serif;
                    opacity: 0.7;
                    font-style: italic;
                    font-size: 12px;
                    color: white;
                    line-height: 13.8px;
                }

                .second {
                    font-family: "Helvetica", "Arial", sans-serif;
                    font-size: 14px;
                    color: white;
                    line-height: 16.1px;
                }

                .butt {
                    color: white;
                    font-family: "cafe-francoise", sans-serif;
                    font-size: 12px;
                    border: none;
                    background: transparent;
                    margin-top: 5px;
                    margin-left: 3px;
                    outline: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .butt1 {
                    background-image: url("../img/button1.svg");
                    background-repeat: no-repeat;
                    width: 209px;
                    height: 38px;
                }

                .butt2 {
                    background-image: url("../img/button2.svg");
                    background-repeat: no-repeat;
                    width: 207px;
                    height: 41px;
                    margin-left: 10px;
                }
            }
        }

        .arrow {
            display: flex;
            justify-content: center;

            p {
                position: absolute;
                font-family: "cafe-francoise", sans-serif;
                font-size: 12px;
                margin-top: 2vh;
                color: #ced0d1;
            }

            .arr1 {
                transform: scaleX(-1);
                margin-right: 3px;
            }

            .opacity {
                opacity: 0.4;
            }

            .arr2 {
                margin-left: 3px;
            }

            a, .dot {
                margin-top: 4.5vh;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
}

@media screen and (max-width: 991px) and (orientation: landscape) {
}
