body {
	overflow-x: hidden;
}
header .img {
	text-align: center;
	margin-top: 30px;
	margin-right: 75%;
	margin-bottom: -80px;
	padding-right: 100px;
}
header .navbar .container .navbar-collapse ul li a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	color: #21409a;
	padding-bottom: 20px;
	padding-top: 80px;
	margin-top: -20px;
}
header .navbar .container .navbar-collapse ul {
	float: right;
	margin-right: 280px;
}
header .navbar-default {
	background: transparent;
	box-shadow: none;
	margin: 0;
	border: none;
	margin-left: 150px;
	margin-right: 80px;
}
header .navbar .container .navbar-collapse ul li a:hover {
	color: #21409a;
	background-color: #cdeaf8;
}
header .navbar .container .navbar-collapse ul li ul {
	display: none;
	position: absolute;
	list-style: none;
	background-color: white;
	border-radius: 10px;
	z-index: 2;
	box-shadow: 1px 1px 2px;
}
header .navbar .container .navbar-collapse ul li ul li {
	width: 125px;
	margin-top: 5px;
	margin-left: -30px;
}
header .navbar .container .navbar-collapse ul li .contacte li{
	width: 115px;
}
header .navbar .container .navbar-collapse ul li ul li:last-child{
	margin-bottom: 5px;
}
header .navbar .container .navbar-collapse ul li:hover ul {
	display: block;
}
header .navbar .container .navbar-collapse ul li ul li a {
	text-decoration: none;
	padding: 0;
	border-radius: 10px;
	color: #505f76;
	text-transform: initial;
	font-size: 13px;
}
header .navbar .container .navbar-collapse ul li ul li a:hover{
	background-color: transparent;
	color: grey;
}
.nav-arrow {
	margin-left: 15px;
	display: none;
}
header .limba ul li a {
	font-size: 15px;
	font-weight: bold;
	color: #21409a;
}
header .limba ul li {
	display: inline-block;
}
header .limba {
	float: right;
	margin-top: -42px;
}
header .navbar .container .navbar-header button {
	margin-top: 40px;
	margin-bottom: 20px;
	margin-right: 0;
}
#cover-img {
	background-image: url('../img/cover.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 450px;
}
#fly-title {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 110px;
	margin-top: 15px;
	margin-left: -8px;
}
#flytext {
	margin: 0;
	padding: 0;
	font-size: 27px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	color: #23409c;
	margin-top: -107px;
	margin-left: 447px;
}
#flytext2 {
	font-size: 27px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	margin-top: 80px;
	color: #23409c;
}
.magazine {
	margin-left: -13px;
	margin-top: 20px;
}
.magazine img {
	border: 1px solid grey;
	width: 100%;
}
.magazine p {
	margin: 0;
	color: #23409c;
	font-size: 15px;
	margin-top: 10px;
}
#img img {
	width: 150px;
	height: 75px;
}
.prefooter-align {
	padding-bottom: 30px;
	padding-top: 120px;
}
#intrebari {
	margin-top: 20px;
}
#intrebari p {
	text-align: center;
	font-size: 15px;
}
#noutati img {
	width: 40px;
	height: 40px;
	transition: 0.5s;
}
#noutati img:hover {
	opacity: 0.5;
	transition: 0.5s;
}
#noutati p {
	font-size: 15px;
}
footer {
	background: #4bb6ea;
	width: 100%;
	height: 185px;
}
#foot1 {
	float: left;
	margin-left: 8%;
	margin-top: 20px;
	padding-right: 30px;
}
.foot p {
	font-size: 12px;
}
.foot p a {
	color: white;
}
#foot2 {
	float: right;
	margin-top: 20px;
	margin-right: 5%;
}



@media screen and (max-width: 991px) {
	header .navbar .container .navbar-collapse ul {
	float: right;
	margin-right: 235px;
}
	#flytext {
	margin: 0;
	padding: 0;
	font-size: 27px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	color: #23409c;
}
#flytext2 {
	font-size: 25px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	margin-top: 120px;
	color: #23409c;
}
#cover-img {
	background-image: url('../img/cover.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 350px;
}
}


@media screen and (max-width: 767px) {
header .navbar .container .navbar-collapse ul li a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 25px;
	margin: 0;
}
header .navbar .container .navbar-collapse ul {
	float: left;
	margin-right: 0px;
}
header .navbar-default {
	background: transparent;
	box-shadow: none;
	margin: 0;
	border: none;
	margin-left: 0;
	margin-right: 80px;
}
header .navbar .container .navbar-collapse ul li ul {
	margin-left: 130px;
	margin-top: -65px;
}
.nav-arrow {
	display: inline-block;
}
header .limba {
	float: right;
	margin-top: -45px;
}
#fly-title {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 110px;
	margin-top: 15px;
	margin-left: -8px;
	text-align: center;
}
#flytext {
	margin: 0;
	padding: 0;
	font-size: 27px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	color: #23409c;
	text-align: center;
}
#flytext2 {
	font-size: 25px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	margin-top: 120px;
	color: #23409c;
	text-align: center;
}
.magazine {
	margin-left: 0px;
	margin-top: 20px;
}
.magazine div {
	margin-top: 30px;
}
.magazine .m1 {
	margin-top: 0;
}
}


@media screen and (max-width: 650px) {
	#foot1 {
	float: none;
	margin-left: 0;
	margin-top: 20px;
	padding-right: 0;
}
#foot2 {
	float: none;
	margin-top: 20px;
	margin-right: 0;
}
}


@media screen and (max-width: 564px) {
	#fly-title {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 80px;
}
	#flytext {
	margin: 0;
	padding: 0;
	font-size: 27px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	color: #23409c;
}
#flytext2 {
	font-size: 25px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	margin-top: 120px;
	color: #23409c;
}
#cover-img {
	background-image: url('../img/cover.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 250px;
}
}


@media screen and (max-width: 394px) {
	#fly-title {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
}
	#flytext {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	color: #23409c;
	text-align: center;
	margin-bottom: -30px;
}
#flytext2 {
	font-size: 20px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	margin-top: 150px;
	color: #23409c;
	text-align: center;
}
#cover-img {
	background-image: url('../img/cover.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 150px;
}
}