.body {
	background: #232323;
	overflow: hidden;
}
.logo {
	position: absolute;
	height: 8.52359208523592vh;
	max-height: ; /* 56px */
	object-fit: contain;
	top: 4.38%;
	left: 2.43%;
	z-index: 100;
}

.body .navbar-default {
	position: absolute;
	background: transparent;
	border: none;
    box-shadow: none;
    top: 4.38%;
    right: 2.43%;
    z-index: 2;
}
.navbar .navbar-collapse ul li a {
	font-size: 1.97869101978691vh;
	font-weight: bold;
}
.navbar .navbar-collapse ul li .button1 {
	color: #464646;
	margin-right: 50px;
}
.navbar .navbar-collapse ul li .button2 {
	color: #C8A060;
	border-bottom: 1px solid #C8A060;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 1.06544901065449vh;
}
.navbar .navbar-collapse ul li .button1:hover{
	color: #464646;
}
.navbar .navbar-collapse ul li .button2:hover{
	color: #C8A060;
}

.block {
	width: 45.5vw; /* 660px */
	height: 62vh; /* 500px */
	position: absolute;
    left: 11.11%;
    top: 12.5%;
	background: linear-gradient(142.85deg, #2E2D2D 0%, #232323 100%);
	box-shadow: 0 40px 100px -45px black;
}
.title {
	position: absolute;
	font-size: 8.67579908675799vh;
	line-height: 9.89345509893455vh;
	color: #C8A060;
	font-weight: bold;
	font-family: Playfair Display;
	top: 20%;
	left: 9.03%;
}
.text {
	position: absolute;
	color: #DCDCDC;
	font-size: 2.5875190258751903vh;
	left: 9.03%;
	top: 41.25%;
	line-height: 3.8051750380517504vh
}
.button {
	color: #232323;
	background: #C8A060;
	font-weight: bold;
	position: absolute;
    left: 9.03%;
    top: 57.5%;
    outline: none;
    border: none;
    width: 21.961932650073205vw; /* 300px */
    height: 9.132420091324201vh;
    max-height: ; /* 60px */
    font-size: 2.5875190258751903vh;
    transition: 0.5s;
}
.button:hover {
	background: transparent;
	color: #C8A060;
	border: 1px solid #C8A060;
	transition: 0.5s;
}
.social img {
	position: absolute;
	left: 2.43%;
	height: 4.566210045662101vh;
	max-height: ; /* 30px */
	object-fit: contain;
	z-index: 100;
}
.copyright {
	color: #464646;
	position: absolute;
	top: 93%;
	left: 11.11%;
	font-size: 1.97869101978691vh;
	z-index: 100;
}
.contact {
	position: absolute;
	bottom: 2.43%;
	right: 2.43%;
	height: 10.654490106544902vh;
	max-height: ; /* 70px */
	object-fit: contain;
}












.page-contact {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: #F9F9FB;
	z-index: 99;
}
.menu {
	height: 100vh;
	width: 35vw;
	background: #232323;
	position: absolute;
}
.menu ul {
	position: absolute;
	top: 37.5%;
	left: 24%;
	list-style: none;
}
.menu ul li a {
	text-decoration: none;
	font-size: 1.97869101978691vh;
	font-weight: bold;
}
.menu ul .button1 {
	color: #C8A060;
}
.menu ul .button2 {
	color: #464646;
}
.close-contact {
	position: absolute;
	top: 4.38%;
	right: 2.43%;
	z-index: 100;
	cursor: pointer;
	height: 7.610350076103501vh;
}
.form {
	position: absolute;
	left: 50.69%;
	top: 20%;
}
.form-title {
	margin: 0;
	font-weight: bold;
    line-height: 9.89345509893455vh;
    font-size: 8.67579908675799vh;
    color: #464646;
    font-family: Playfair Display;
}
.form form {
	position: absolute;
	top: 150%;
}
.form form p {
	margin: 0;
	margin-bottom: -3%;
	font-size: 1.97869101978691vh;
	color: #C8A060;
	margin-top: 3vh;
	opacity: 0;
}
.form .input {
	outline: none;
	border: none;
	border-bottom: 1px solid #8C8C8C;
	background: #F9F9FB;
	width: 32.210834553440705vw;
	transition: 0.5s;
}
.form .input::placeholder {
	font-size: 1.97869101978691vh;
}
.form .input:focus {
	border-bottom: 1px solid #C8A060;
	transition: 0.5s;
}
.form .send {
	margin-top: 17%;
	width: 21.961932650073205vw;
	height: 8vh;
	background: transparent;
	color: #C8A060;
	border: 1px solid #C8A060;
	font-size: 2vh;
	transition: 0.5s;
	outline: none;
}
.form .send:hover {
	color: white;
	background: #C8A060;
	border: none;
	transition: 0.5s;
}




.hide {
	display: none;
}





@media screen and (min-height: 660px) {
	.text {
		font-size: ; /* 17px */
		line-height: ; /* 25px */
	}
	.title {
		font-size: ; /* 57px */
		line-height: ; /* 65px */
	}
	.navbar .navbar-collapse ul li a {
		font-size: ; /* 13px */
	}
	.button {
		font-size: ; /* 17px */
	}
}