.body {
	background: #232323;
	overflow: hidden;
}
.logo {
	position: absolute;
	height: 8.52359208523592vh;
	max-height: 56px;
	object-fit: contain;
	top: 3.24%;
	left: 1.82%;
}

.body .navbar-default {
	position: absolute;
	background: transparent;
	border: none;
    box-shadow: none;
    top: 3.24%;
    right: 1.82%;
    z-index: 2;
}
.navbar .navbar-collapse ul li a {
	font-size: 1.97869101978691vh;
	font-weight: bold;
	z-index: 2;
	text-shadow: none;
}
.navbar .navbar-collapse ul li .button1 {
	color: #464646;
	margin-right: 50px;
	transition: 0.5s;
}
.navbar .navbar-collapse ul li .button1:after {
	content: '';
	position: absolute;
	width: 0;
	padding-top: 29.5%;
	border-bottom: 1px solid #C8A060;
	left: 51%;
	transform: translateX(-50%);
	transition: 0.5s;
}
.navbar .navbar-collapse ul li .button2 {
	color: #464646;
	transition: 0.5s;
}
.navbar .navbar-collapse ul li .button2:after {
	content: '';
	position: absolute;
	width: 0;
	padding-top: 45%;
	border-bottom: 1px solid #C8A060;
	left: 51%;
	transform: translateX(-50%);
	transition: 0.5s;
}
.navbar .navbar-collapse ul li .button1:hover{
	color: #C8A060;
	transition: 0.5s;
}
.navbar .navbar-collapse ul li .button1:hover:after {
	content: '';
	position: absolute;
	width: 72%;
	padding-top: 29.5%;
	border-bottom: 1px solid #C8A060;
	left: 51%;
	transform: translateX(-50%);
	transition: 0.5s;
}
.navbar .navbar-collapse ul li .button2:hover{
	color: #C8A060;
	transition: 0.5s;
}
.navbar .navbar-collapse ul li .button2:hover:after {
	content: '';
	position: absolute;
	width: 57%;
	padding-top: 45%;
	border-bottom: 1px solid #C8A060;
	left: 51%;
	transform: translateX(-50%);
	transition: 0.5s;
}
.block {
	width: 660px;
	height: 62vh;
	max-height: 500px;
	position: absolute;
	background-image: url('../img/BG.png');
	box-shadow: 0 60px 90px -70px black;
	left: 5%;
	top: 12%;
}
@keyframes titlee {
	0% {
		color: transparent;
	}
	25% {
		color: transparent;
	}
	50% {
		color: transparent;
	}
	100% {
		color: #C8A060;
	}
}
.title {
	position: absolute;
	font-size: 8.67579908675799vh;
	line-height: 9.89345509893455vh;
	color: #C8A060;
	font-weight: bold;
	font-family: Playfair Display;
	top: 12%;
	left: -30px;
	animation: .7s titlee;
}
@keyframes title {
	0% {
		top: 39.5%;
		width: 0;
		height: 3%;
	}
	25% {
		top: 39.5%;
	    left: 0;
	    width: 285px;
	    height: 3%;
	}
	50% {
		top: 0;
	    left: 0;
        width: 285px;
	    height: 40%;
	}
	100% {
		top: 0;
	    left: 0;
        width: 285px;
	    height: 0;
	}
}
.title:before {
	content: '';
	position: absolute;
	background: #C8A060;
	top: 0;
	left: 0;
    width: 0;
	height: 40%;
	animation: .8s title;
}
@keyframes titleee {
	0% {
		top: 96.5%;
		width: 0;
		height: 3%;
	}
	25% {
		top: 96.5%;
	    left: 0;
	    width: 335px;
	    height: 3%;
	}
	50% {
		top: 57%;
	    left: 0;
        width: 335px;
	    height: 40%;
	}
	100% {
		top: 57%;
	    left: 0;
        width: 335px;
	    height: 0;
	}
}
.title:after {
	content: '';
	position: absolute;
	background: #C8A060;
	top: 57%;
	left: 0;
    width: 0;
	height: 40%;
	animation: .8s titleee;
}
@keyframes textt {
	0% {
		color: transparent;
	}
	25% {
		color: transparent;
	}
	50% {
		color: transparent;
	}
	100% {
		color: #DCDCDC;
	}
}
.text {
	position: absolute;
	color: #DCDCDC;
	font-size: 2.5875190258751903vh;
	line-height: 3.8051750380517504vh;
	top: 46.5%;
	left: -30px;
	animation: .7s textt;
}
@keyframes texttt {
	0% {
		top: 39.5%;
		width: 0;
		height: 3%;
	}
	25% {
		top: 39.5%;
	    left: 0;
	    width: 315px;
	    height: 3%;
	}
	50% {
		top: 0;
	    left: 0;
        width: 315px;
	    height: 40%;
	}
	100% {
		top: 0;
	    left: 0;
        width: 315px;
	    height: 0;
	}
}
.text:before {
	content: '';
	position: absolute;
	background: #C8A060;
	top: 0;
	left: 0;
    width: 0;
	height: 40%;
	animation: .8s texttt;
}
@keyframes textttt {
	0% {
		top: 96.5%;
		width: 0;
		height: 3%;
	}
	25% {
		top: 96.5%;
	    left: 0;
	    width: 120px;
	    height: 3%;
	}
	50% {
		top: 57%;
	    left: 0;
        width: 120px;
	    height: 40%;
	}
	100% {
		top: 57%;
	    left: 0;
        width: 120px;
	    height: 0;
	}
}
.text:after {
	content: '';
	position: absolute;
	background: #C8A060;
	top: 57%;
	left: 0;
    width: 0;
	height: 40%;
	animation: .8s textttt;
}
.button {
	color: #232323;
	background: #C8A060;
	font-weight: bold;
	position: absolute;
    outline: none;
    border: none;
    border: 1px solid #C8A060;
    height: 9.132420091324201vh;
    width: 300px;
    max-height: 60px; /* 60px */
    font-size: 2.5875190258751903vh;
    transition: 0.5s;
    top: 72.5%;
    left: -30px;
}
.button:hover {
	background: #232323;
	color: #C8A060;
	transition: 0.5s;
}
.content {
	width: 1200px;
	height: 100vh;
	max-height: 620px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.max {
	position: absolute;
	max-width: 410px;
	max-height: 600px;
	height: 91.32420091324201vh;
	top: 12%;
	left: 65%;
}
.social img {
	position: absolute;
	left: 1.82%;
	height: 4.566210045662101vh;
	max-height: 30px; /* 30px */
}
.instagram {
	bottom: 19.12%
}
.facebook {
	bottom: 14.12%;
}
.Dribble {
	bottom: 9.12%;
}
.Behance {
	bottom: 4.38%;
}
.copyright-block {
	width: 1200px;
	height: 100vh;
	max-height: 60px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}
.copyright {
	color: #464646;
	margin: 0;
	position: absolute;
	bottom: 40%;
	left: 5%;
	font-size: 1.97869101978691vh;
}
#contact {
	position: absolute;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: #C8A060;
	bottom: 3%;
	right: 1.82%;
	transition: 0.2s;
}
.contact {
	position: absolute;
	height: 24px;
	max-height: 18px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#contact:hover {
	transition: 0.2s;
	bottom: 4%;
	box-shadow: 0 6px 15px black;
}







@keyframes contact {
	from {
		width: 0;
		height: 0;
		bottom: 0;
		right: 0;
	}
	to {
		width: 100vw;
	    height: 100vh;
	    bottom: 0;
		right: 0;
	}
}
.contact-animation {
	animation: 0.3s contact;
}


.hide {
	display: none;
}












.page-contact {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: #F9F9FB;
	z-index: 99;
}
.menu {
	height: 100%;
	width: 34.72%;
	background: #232323;
	position: absolute;
}
.menu ul {
	position: absolute;
	padding: 0;
	top: 42%;
	left: 35%;
	list-style: none;
}
.menu ul li a {
	text-decoration: none;
	font-size: 1.97869101978691vh;
	font-weight: bold;
}
.menu ul .button1 {
	color: #464646;
	transition: 0.5s
}
.menu ul .button1:before {
	content: '';
	position: absolute;
	width: 0;
	height: 15%;
	background: #C8A060;
	top: 15%;
	opacity: .3;
	transition: .5s;
}
.menu ul .button1:hover {
	color: #C8A060;
	transition: 0.5s;
}
.menu ul .button1:hover:before {
	transition: .5s;
	width: 45px;
}
.menu ul .button2 {
	color: #464646;
	transition: 0.5s;
}
.menu ul .button2:hover {
	color: #C8A060;
	transition: 0.5s;
}
.menu ul .button2:before {
	content: '';
	position: absolute;
	width: 0;
	height: 15%;
	background: #C8A060;
	top: 90%;
	opacity: .3;
	transition: .5s;
}
.menu ul .button2:hover:before {
	transition: .5s;
	width: 83px;
}
.close-contact {
	position: absolute;
	right: 2.34%;
    top: 3.24%;
	z-index: 100;
	cursor: pointer;
	height: 7.610350076103501vh;
	max-height: 50px;
}
.form {
	position: absolute;
	left: 52%;
	top: 27%;
}
.form-title {
	margin: 0;
	font-weight: bold;
    line-height: 9.89345509893455vh;
    font-size: 8.67579908675799vh;
    color: #464646;
    font-family: Playfair Display;
}
.form form {
	position: absolute;
	top: 140%;
}
.form form p {
	position: absolute;
	font-size: 1.97869101978691vh;
	color: #C8A060;
	opacity: 0;
}
.form .input {
	outline: none;
	position: absolute;
	border: none;
	border-bottom: 1px solid #8C8C8C;
	background: #F9F9FB;
	height: 3.34855403348554vh;
	max-height: 22px;
	width: 32.210834553440705vw;
	max-width: 440px;
	transition: 0.5s;
}
.form .input::placeholder {
	font-size: 1.97869101978691vh;
}
.form .send {
	position: absolute;
	top: 280%;
	width: 21.961932650073205vw;
	max-width: 300px;
	height: 8vh;
	max-height: 60px;
	background: transparent;
	color: #C8A060;
	border: 1px solid #C8A060;
	font-size: 2vh;
	font-weight: bold;
	transition: 0.5s;
	outline: none;
}
.form .send:hover {
	color: white;
	background: #C8A060;
	border: none;
	border: 1px solid #C8A060;
	transition: 0.5s;
}







@media screen and (min-height: 800px) {
	.block {
		top: 0;
	}
	.max {
		top: 0;
	}
}

@media screen and (min-height: 780px) {
	.block {
		top: 6%;
	}
	.max {
		top: 6%;
	}
}

@media screen and (max-width: 767px) {
	.navbar .navbar-collapse ul li .button1:after {
		display: none;
	}
	.navbar .navbar-collapse ul li .button2:after {
		display: none;
	}
}

@media screen and (min-height: 660px) {
	.text {
		font-size: 17px;
		line-height: 25px;
	}
	.title {
		font-size: 57px;
		line-height: 65px;
	}
	.navbar .navbar-collapse ul li a {
		font-size: 13px;
	}
	.button {
		font-size: 17px;
	}
	.copyright {
		font-size: 13px;
	}
	.menu ul li a {
		font-size: 13px;
	}
	.form-title {
		font-size: 57px;
	}
	.form form p {
		font-size: 13px;
	}
	.form .input::placeholder {
		font-size: 13px;
	}
	.form .send {
		font-size: 17px;
	}
	.instagram {
	    bottom: 154px;
    }
    .facebook {
	    bottom: 114px;
    }
    .Dribble {
	    bottom: 74px;
    }
    .Behance {
	    bottom: 36px;
    }
    .copyright {
    	bottom: 35px;
    }
}